<H1>Multivariate regression</H1>

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [1]:
import pandas as pd

In [2]:
mypath = '/fs3/group/jonasgrp/MachineLearning/Cell_types.xlsx'
xls = pd.read_excel(mypath)

In [3]:
xls.head()

,CellID,Vrest (mV),InputR (MΩ),mb tau(ms),Sag ratio (%),Max AP freq,Animal Weight (g),Animal Age,Gender,AP peak (mv),AP_thr (mV)
0,16.08.30.0.5,-64.8039,123.611,21.7662,1.31594,5.0,23.1,8 weeks,male,NaN,NaN
1,16.08.31.0.6,-74.1279,152.837,99.2901,1.17876,23.0,24.6,8 weeks,male,NaN,NaN
2,16.08.31.1.2,-74.4443,221.895,80.6658,1.17550,7.0,24.6,8 weeks,male,NaN,NaN
3,16.09.01.0.1,-75.8549,294.484,93.8328,1.10705,29.0,26.0,8 weeks,female,NaN,NaN
4,16.09.01.0.2,-66.3612,271.674,93.3612,1.06450,25.0,26.0,8 weeks,female,NaN,NaN

In [4]:
xls[['Vrest (mV)']]

   Vrest (mV)
0    -64.8039
1    -74.1279
2    -74.4443
3    -75.8549
4    -66.3612
5    -68.7208
6         NaN
7         NaN
8         NaN